@{
    ViewData["Title"] = "Home";
    @model InspirationWords

}

@if (Model.Words.Any())
{
    <h1 id="word"></h1>
}
else
{ 
    <h1>Inpsiration is gone.</h1>
}

<script>
function DisplayWords(){
    const words = @Html.Raw(Json.Serialize(Model.Words));
    const wordElement = document.getElementById("word");

    setInterval(() => {
        const randomWord = Math.floor(Math.random() * words.length);
        wordElement.textContent = words[randomWord];
    }, 1000);

    setTimeout(() => clearInterval(intervalId), 6000);
}
window.onload = DisplayWords;
</script>