@{
    ViewData["Title"] = "Home";
    @model InspirationWords

}

@if (Model.Words.Any())
{
    @foreach (var word in Model.Words)
    {
    <h1>@word</h1>
    }
}
else
{
    <h1>Inpsiration is gone.</h1>
}
