* {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER-----------------------*/
header {
    background-color: aquamarine;
}

nav {
    min-height: 10vh;
    background-color: rgb(226, 43, 122);
}

/* MAIN-------------------------*/
main {
    background-color: brown;
    min-height: 80vh;
}

/* FOOTER ----------------------*/
footer {
    background-color: rgb(196, 184, 20);
    min-height: 10vh;
    
}