* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* https://colorhunt.co/palette/7ed4add76c82b030523d0301 */
}

/* HEADER-----------------------*/
header {
    background-color: #7ED4AD;
    display: flex;
    justify-content: center;
    min-height: 10vh;
}

nav {
    min-width: 20vw;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.left-box, .right-box {
    background-color: rgba(27, 88, 68, 0.0);
    width: 90px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s ease-in-out;
}

.left-box:hover, .right-box:hover{
    background-color: #D76C82;
}

a {
    color: #3D0301;
    text-decoration: none;
    font-size: 1.2em;
}

/* MAIN-------------------------*/
main {
    background-color: #D76C82;
    min-height: 80vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

#word {
    font-size: 10vw;
    color: #3D0301
}

/* FOOTER ----------------------*/
footer {
    background-color: #B03052;
    min-height: 10vh;
    
}